<h4>Small</h4>
<hr />
<div>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#home"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#arrow-left"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#arrow-right"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#plus"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#minus"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#edit"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#delete"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#search"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#menu"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#settings"></use></svg>
	<svg class="icon"><use xlink:href="{{ urlPath }}images/icons.svg#mail"></use></svg>
</div>

<h4>Medium</h4>
<hr />
<div>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#home"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#arrow-left"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#arrow-right"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#plus"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#minus"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#edit"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#delete"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#search"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#menu"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#settings"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#mail"></use></svg>
</div>

<h4>Large</h4>
<hr />
<div>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#home"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#arrow-left"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#arrow-right"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#plus"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#minus"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#edit"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#delete"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#search"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#menu"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#settings"></use></svg>
	<svg class="icon large"><use xlink:href="{{ urlPath }}images/icons.svg#mail"></use></svg>
</div>


<h4>Social Icons</h4>
<hr />
<div>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#social-facebook"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#social-twitter"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#social-instagram"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#social-pinterest"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#social-youtube"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#social-whatsapp"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#social-dribbble"></use></svg>
	<svg class="icon medium"><use xlink:href="{{ urlPath }}images/icons.svg#social-vimeo"></use></svg>
</div>
