<ul class="listview">
    <li class="listview-item">
      <a href="#">
        <img class="listview-item-figure" src="{{ urlPath }}images/thumb-square.png" alt="">
        <div class="listview-item-body">
          <h3 class="maxlines-1">Interdum urna egestas scelerisque 1</h3>
          <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </li>
    <li class="listview-item">
      <a href="#">
        <img class="listview-item-figure" src="{{ urlPath }}images/thumb-square.png" alt="">
        <div class="listview-item-body">
          <h3 class="maxlines-1">Interdum urna egestas scelerisque 2</h3>
          <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </li>
    <li class="listview-item">
      <a href="#">
        <img class="listview-item-figure" src="{{ urlPath }}images/thumb-square.png" alt="">
        <div class="listview-item-body">
          <h3 class="maxlines-1">Interdum urna egestas scelerisque 3</h3>
          <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </li>
    <li class="listview-item">
      <a href="#">
        <img class="listview-item-figure" src="{{ urlPath }}images/thumb-square.png" alt="">
        <div class="listview-item-body">
          <h3 class="maxlines-1">Interdum urna egestas scelerisque 4</h3>
          <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </li>
    <li class="listview-item">
      <a href="#">
        <img class="listview-item-figure" src="{{ urlPath }}images/thumb-square.png" alt="">
        <div class="listview-item-body">
          <h3 class="maxlines-1">Interdum urna egestas scelerisque 5</h3>
          <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </li>
    <li class="listview-item">
      <a href="#">
        <img class="listview-item-figure" src="{{ urlPath }}images/thumb-square.png" alt="">
        <div class="listview-item-body">
          <h3 class="maxlines-1">Interdum urna egestas scelerisque 6</h3>
          <p class="maxlines-2">Curabitur tincidunt interdum urna egestas scelerisque. Cras at metus sed lorem eleifend tincidunt tincidunt interdum urna egestas scelerisque.</p>
        </div>
      </a>
    </li>
</ul>
