<section class="gridview">
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/demo/thumb-fashion.jpg"
          alt="Image 1"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/demo/thumb-food.jpg"
          alt="Image 2"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/demo/thumb-animals.jpg"
          alt="Image 3"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/demo/thumb-city.jpg"
          alt="Image 4"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/demo/thumb-sports.jpg"
          alt="Image 5"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/demo/thumb-nature.jpg"
          alt="Image 6"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/thumb-square-m.png"
          alt="Image 7"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/thumb-square-m.png"
          alt="Image 8"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
    <article class="gridview-item">
      <a href="#">
        <img class="lazyload"
          data-src="{{ urlPath }}images/thumb-square-m.png"
          alt="Image 9"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
      </a>
    </article>
</section>
