<section class="section">
  <div class="section-content">
   <!-- Start Grid View :::::::::::::::::::: -->
    <section class="gridview">
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#">
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout1"></use></svg>
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#">
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout2"></use></svg>
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#">
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout3"></use></svg>
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#">
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout4"></use></svg>
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#">
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout5"></use></svg>
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#">
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout6"></use></svg>
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#" target="_self" >
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout7"></use></svg>
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#">
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout8"></use></svg>
        </a>
      </article>
      <!-- Grid View item -->
      <article class="gridview-item">
        <a href="#" target="_self" >
          <svg class="icon-xhuge"><use xlink:href="{{ assetsPath }}images/layouts.svg#icon-layout9"></use></svg>
        </a>
      </article>
    </section>
    <!-- End Grid View :::::::::::::::::::: -->
  </div>
</section>