{% extends "default.twig" %}
{% set title = "Components - Swanix" %}
{% set pageTitle = "Components" %}
{% set assetsPath = "assets/" %}
{% set urlLogo = "../" %}
{% set is_hidden = 0 %}

{% block content %}

{% include 'partials/app-subheader.twig' %}

{% embed "code-example.twig" with {'example_title': 'Navbar'} %}
  {% block example %}{% include 'partials/comp-navbar.twig' %}{% endblock %}
  {% block example_code %}{% include 'partials/comp-navbar.twig' %}{% endblock %}
{% endembed %}

<section id="listview" class="block">
  <h2>List View</h2>
  {% include 'partials/comp-listview.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right"><svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg></button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-listview.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="cardview" class="block">
  <h2>Card View</h2>
  {% include 'partials/comp-cardview.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right"><svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg></button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-cardview.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="gridview" class="block">
  <h2>Grid View</h2>
  {% include 'partials/comp-gridview.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right">
    <svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg>
  </button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-cardview.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="articleview" class="block">
  <h2>Article View (Portrait)</h2>
  {% include 'partials/comp-articleview.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right"><svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg></button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-articleview.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="dialog" class="block">
  <h2>Modal Dialog</h2>
  {% include 'partials/comp-dialog.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right"><svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg></button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-dialog.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="hero-block" class="block">
  <h2>Hero Block</h2>
  {% include 'partials/comp-hero-block.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right"><svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg></button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-hero-block.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="pagination" class="block">
  <h2>Pagination</h2>
  {% include 'partials/comp-pagination.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right"><svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg></button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-pagination.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="tooltip" class="block">
  <h2>Tooltips</h2>
  {% include 'partials/comp-tooltip.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right"><svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg></button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-tooltip.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="slideshow" class="block">
  <h2>Slideshow</h2>
  {% include 'partials/comp-slideshow.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right">
    <svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg>
  </button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-slideshow.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

<section id="mapview" class="block">
  <h2>Map View</h2>
  {% include 'partials/comp-mapview.twig' %}
  <!-- Code Example -->
  <button class="js-toggle circle" data-tooltip="Show Code" data-tooltip-pos="right"><svg class="icon medium"><use xlink:href="{{ assetsPath }}images/icons.svg#code"></use></svg></button>
  <div class="js-toggle-hidden">
    <pre><code class="language-markup line-numbers">{% filter escape %}{% include 'partials/comp-mapview.twig' %}{% endfilter %}</code></pre>
  </div>
</section>

{% endblock %}